<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 text-lg">
    <h1 class="mt-12 mb-8"><span class="underline-red">Settings</span></h1>

    <div class="max-w-prose">
    <div class="w-full mx-2 my-2 md:mb-12 p-4">
        <% if mapzy_cloud? %>
          <h2>Subscription</h2>
          <% if current_user.account.trial? || current_user.account.inactive? %>
            <%= render "subscription" %>
          <% else %>
            <%= render "subscription_management" %>
          <% end %>
        <% end %>        

        <h2 class="mt-6">Sync mode (advanced feature)</h2>
        <p>
          Turning on sync mode lets you manage your Mapzy locations through our Sync API.
          This disables adding, removing or editing locations from the dashboard.
          To access the Sync API, you will need your API key below. Make sure to keep it
          secret and don't share it publicly.
          Learn more about the Sync API in <a href="https://docs.mapzy.io">our docs</a>.
        </p>
          
        <%= form_with model: @map,
          url: dashboard_map_path(@map),
          method: :put,
          data: { turbo_frame: "sync_mode" } do |form| %>
          <div class="flex flex-row items-center justify-start gap-x-4 mt-4">
            <label class="switch">
              <%= form.check_box :sync_mode, class: "opacity-0 w-0 h-0", onclick: "this.form.requestSubmit()" %>
              <span class="slider"></span>
            </label>
            <div>
              <%= label_tag "sync_mode", "Sync mode" %>
            </div>
          </div>
        <% end %>
        <div class="text-mapzy-red mt-2">
          <turbo-frame id='sync_mode'>
          </turbo-frame>
        </div>

        <div class="code--multiline w-fit">
          <code>
            <%= current_user.map.api_key.key_value %>
          </code>
        </div>


        <h2 class="mt-6">Account</h2>
        <p class="mb-4"><%= current_user.email %></p>

        <%= link_to "Change Email or Password", edit_user_registration_path %> <br>
        <%= button_to "Log out", destroy_user_session_path,
            method: :delete,
            class: "no-underline cursor-pointer text-mapzy-red hover:text-mapzy-red-light font-semibold"
        %>
      </div>
    </div>
  </div>
<% end %>
