<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 text-lg">
    <h1 class="mt-12 mb-8"><span class="underline-red">Settings</span></h1>

    <div class="max-w-prose">
    <div class="w-full mx-2 my-2 md:mb-12 p-4">
        <% if mapzy_cloud? %>
          <h2>Subscription</h2>
          <% if current_user.account.trial? || current_user.account.inactive? %>
            <%= render "subscription" %>
          <% else %>
            <%= render "subscription_management" %>
          <% end %>
        <% end %>

        <h2 class=>API key</h2>
        <p>
          You can use your API key to access and modify your Map and Locations through our API.
          This is an advanced feature, but you can learn more in <a href="https://docs.mapzy.io">our docs</a>.<br>
          Keep your API key secret and don't share it publicly.
        </p>
        <div class="code--multiline w-fit">
          <code>
            <%= current_user.map.api_key.key_value %>
          </code>
        </div>

        <h2 class=>Account</h2>
        <p class="mb-4"><%= current_user.email %></p>

        <%= link_to "Change Email or Password", edit_user_registration_path %> <br>
        <%= button_to "Log out", destroy_user_session_path,
            method: :delete,
            class: "no-underline cursor-pointer text-mapzy-red hover:text-mapzy-red-light font-semibold"
        %>
      </div>
    </div>
  </div>
<% end %>
