<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 w-full text-lg">
    <h2 class="mt-8 mb-4">Account Settings</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "max-w-sm" }) do |f| %>
      <div class="field mt-4">
        <%= f.label :name, class: "label--default" %>
        <%= f.text_field :name, autocomplete: "name",
            class: "input--default" %>
      </div>

      <div class="field mt-4">
        <%= f.label :email, class: "label--default" %>
        <%= f.email_field :email, autocomplete: "email", required: true,
            class: "input--default" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mt-4">
        <%= f.label :new_password, class: "label--default" %>
        <i>(leave blank if you don't want to change it)</i><br>
        <%= f.password_field :password, autocomplete: "new-password",
            class: "input--default" %>
        <% if @minimum_password_length %>
          <br>
          <i><%= @minimum_password_length %> characters minimum</i>
        <% end %>
      </div>

      <div class="field mt-4">
        <%= f.label :new_password_confirmation, class: "label--default" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
            class: "input--default" %>
      </div>

      <div class="field mt-4">
        <%= f.label :current_password, class: "label--default" %>
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", required: true,
            class: "input--default" %>
      </div>


      <div class="actions mt-8 mb-4">
        <%= f.submit "Update", class: "mt-12 w-full button--main" %>
      </div>
    <% end %>

    <%= link_to "Back", :back %>
  </div>
<% end %>