<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 w-full text-lg">
    <h2>Change your account info</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-4">
        <%= f.label :name, class: "block text-gray-700" %>
        <%= f.text_field :name, autocomplete: "name",
            class: "w-full px-4 py-3 mt-2 rounded-lg bg-gray-100 border focus:border-indigo-700
            focus:bg-white focus:outline-none" %>
      </div>

      <div class="field mt-4">
        <%= f.label :email, class: "block text-gray-700" %>
        <%= f.email_field :email, autocomplete: "email",
            class: "w-full px-4 py-3 mt-2 rounded-lg bg-gray-100 border focus:border-indigo-700
            focus:bg-white focus:outline-none" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mt-4">
        <%= f.label :new_password, class: "block text-gray-700" %>
        <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password",
            class: "w-full px-4 py-3 mt-2 rounded-lg bg-gray-100 border focus:border-indigo-700
            focus:bg-white focus:outline-none" %>
        <% if @minimum_password_length %>
          <br />
          <i><%= @minimum_password_length %> characters minimum</i>
        <% end %>
      </div>

      <div class="field mt-4">
        <%= f.label :new_password_confirmation, class: "block text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
            class: "w-full px-4 py-3 mt-2 rounded-lg bg-gray-100 border focus:border-indigo-700
            focus:bg-white focus:outline-none" %>
      </div>

      <div class="field mt-4">
        <%= f.label :current_password, class: "block text-gray-700" %>
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password",
            class: "w-full px-4 py-3 mt-2 rounded-lg bg-gray-100 border focus:border-indigo-700
            focus:bg-white focus:outline-none" %>
      </div>

      <div class="actions mt-8 mb-4">
        <%= f.submit "Update", class: "w-full button--main" %>
      </div>
    <% end %>

    <%= link_to "Back", :back %>
  </div>
<% end %>