<%= render "devise/shared/layout" do %>
  <h2 class="text-xl md:text-2xl font-bold leading-tight mb-8">Create your first store locator</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "max-w-sm" }) do |f| %>
    <div class="field mt-4">
      <%= f.label :email, class: "label--default" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true,
        class: "input--default" %>
    </div>

    <div class="field mt-4">
      <%= f.label :password, class: "label--default" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", required: true,
        class: "input--default" %>
    </div>

    <div class="field mt-4">
      <%= f.label :password_confirmation, class: "label--default" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true,
        class: "input--default" %>
    </div>

    <div class="actions mt-8 mb-4">
      <%= f.submit "Sign up", class: "w-full button--main" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>