<%= render 'devise/shared/signup_login' do %>
  <h2 class="text-xl md:text-2xl font-bold leading-tight mt-8">Create your first store locator</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-4">
      <%= f.label :full_name, class: 'block text-gray-700' %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true,
        class: 'w-full px-4 py-3 rounded-lg bg-gray-100 mt-2 border focus:border-indigo-700
          focus:bg-white focus:outline-none' %>
    </div>

    <div class="field mt-4">
      <%= f.label :email, class: 'block text-gray-700' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true,
        class: 'w-full px-4 py-3 rounded-lg bg-gray-100 mt-2 border focus:border-indigo-700
          focus:bg-white focus:outline-none' %>
    </div>

    <div class="field mt-4">
      <%= f.label :password, class: 'block text-gray-700' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", required: true,
        class: 'w-full px-4 py-3 rounded-lg bg-gray-100 mt-2 border focus:border-indigo-700
          focus:bg-white focus:outline-none' %>
    </div>

    <div class="field mt-4">
      <%= f.label :password_confirmation, class: 'block text-gray-700' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true,
        class: 'w-full px-4 py-3 rounded-lg bg-gray-100 mt-2 border focus:border-indigo-700
          focus:bg-white focus:outline-none' %>
    </div>

    <div class="actions mt-8 mb-4">
      <%= f.submit "Sign up", class: 'w-full button--main' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>