<div class="w-screen h-screen flex flex-col">

  <!-- Top Menu -->
  <header class="relative w-full bg-white">
      <% if @map&.sync_mode %>
        <div class="flex flex-row items-center justify-center w-full bg-mapzy-red text-white">
          <p>
            Sync Mode is on. You cannot manage your map through the dashboard. Go to the settings to disable it.
          </p>
        </div>
      <% end %>
      <div class="flex items-center justify-between py-2 px-8 md:px-12">
          <div class="flex justify-between items-center">
             <div class="text-2xl font-bold text-gray-800 md:text-3xl">
              <%= link_to root_path do %>
                <%= image_tag "mapzy_logo.png", class: "h-12 md:h-14" %>
              <% end %>
             </div>
          </div>
          <div class="flex flex-row -mx-2">
            <div class="hidden sm:flex">
              <%= link_to "Docs", "https://docs.mapzy.io", class: "button--top-menu" %>
            </div>
            <% if params[:controller] == "dashboard/maps" && params[:action] == "show" %>
              <%= link_to "Embed Map", dashboard_account_embed_path, class: "button--top-menu" %>
            <% else %>
              <%= link_to "View Map", root_path, class: "button--top-menu", data: { turbo: false } %>
            <% end %>
            <%= link_to "Settings", dashboard_account_settings_path, class: "button--top-menu", data: { turbo: false } %>
          </div>
      </div>
  </header>

  <!-- Map -->
  <main class="relative w-full h-full">
    <%= yield %>
  </main>

  <!-- Bottom menu -->
  <%= yield :bottom_menu %>

</div>