<div>
  <div class="text-lg text-center">
    <%= @location.name %>
  </div>
  <div class="w-full text-left text-base mt-8">
    <%= @location.description %>
  </div>
  <div class="w-full text-left text-base mt-8">
    <%= @location.address %><br>
    <%= @location.zip_code %> <%= @location.city %><br>
    <% if @location.state %>
      <%= @location.state %><br>
    <% end %>
    <%= @location.country %><br>
  </div>
</div>