<div class="relative w-full h-full"
  data-controller="map"
  data-map-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
  data-map-markers-value="<%= @map.markers.to_json %>"
  data-map-bounds-value="<%= @map.bounds %>"
  data-map-location-base-url-value="<%= @location_base_url %>"
  data-map-ask-location-permission-value="<%= @ask_location_permission %>">

    <div
      class="absolute w-full md:w-96 bg-white border-gray-200 border-2 md:border-r-0
             inset-x-0 bottom-0 md:top-0 md:bottom-0 h-1/2 md:h-auto z-20 hidden"
      data-map-target="locationView"
    >
      <turbo-frame id="locations_show">
      </turbo-frame>
    </div>
    <%= render "shared/mapbox" %>
</div>