<div class="relative w-full h-full"
  data-controller="map side-panel"
  data-map-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
  data-map-markers-value="<%= to_geo_json(@locations).to_json %>"
  data-map-bounds-value="<%= bounds(@locations) %>"
  data-map-location-base-url-value="<%= shared_locations_path %>"
  data-map-ask-location-permission-value="<%= @ask_location_permission %>"
  data-map-dashboard-value="<%= controller.controller_path.include?('dashboard') %>"
  data-map-param-no-accidental-zoom-value="<%= params[:no_accidental_zoom] == "true" %>">

  <%= render "shared/mapbox" %>

  <%= render "shared/side_panel" do %>
    <turbo-frame id="side_panel">
    </turbo-frame>
  <% end %>

  <%= render "shared/all_locations_button" %>
</div>