<div class="relative w-full h-full"
  data-controller="map"
  data-map-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
  data-map-markers-value="<%= @map.markers.to_json %>"
  data-map-bounds-value="<%= @map.bounds %>"
  data-map-location-base-url-value="<%= @location_base_url %>"
  data-map-ask-location-permission-value="<%= @ask_location_permission %>">

    <div class="absolute w-full md:w-96 bg-white shadow-md rounded md:inset-x-4 bottom-0 md:bottom-4 md:top-4 h-1/2 md:h-auto z-20 hidden" data-map-target="locationView">
      <turbo-frame id="location_view">
      </turbo-frame>
    </div>
    <%= render 'shared/mapbox' %>
    <%= render 'shared/location_permission' %>
</div>