<div class="absolute w-full md:w-1/3 overflow-y-scroll bg-white shadow-md rounded md:inset-x-0 bottom-0 md:top-0 h-1/2 md:h-auto z-20 p-6">
  <h1 class="text-xl pb-6 text-center"><%= title %></h1>

    <div data-controller="location"
         data-location-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
         data-location-bounds-value="<%= @bounds %>"
         data-location-address-value="<%= @address %>">

      <%= form_with model: [:dashboard, @map, @location], local: true do |f| %>

      <!-- Name -->
      <div class="-mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :name,
                class: "label--default" %>

          <%= f.text_field :name,
                class: "input--default",
                placeholder: "Yeti Store",
                required: true %>

          <p class="text-gray-600 text-xs italic">Keep it short & crispy</p>
        </div>
      </div>

      <!-- Description -->
      <div class="-mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :description,
                class:"label--default" %>

          <%= f.text_area :description,
                size: "70x3",
                class: "input--default",
                placeholder: "(Optional)" %>

          <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
        </div>
      </div>

      <!-- Geocoded Address -->
      <div class="-mx-3 mb-3">
        <div class="w-full px-3 mb-6 md:mb-0">
          <%= f.label :address,
                class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <div data-location-target="addressWrapper"></div>
          <p class="text-red-500 mt-1 text-xs italic" data-location-target="addressError"></p>
        </div>
      </div>

      <!-- Toggle lat / long -->
      <div class="-mx-3 hidden" data-location-target="adjustMarkerLink">
        <div class="w-full px-3">
          <a class="cursor-pointer underline" data-action="location#zoomOnMarker location#showAdjustMarkerBlock">Need to adjust the marker?</a>
        </div>
      </div>

      <!-- Lat / Long  -->
      <div class="-mx-3 mt-3 hidden" data-location-target="adjustMarkerBlock">
        <div class="w-full px-3">
          <p class="text-gray-700 text-sm font-bold text-mapzy-violet mb-2">
            Drag the marker directly on the map to its exact position 👉
          </p>
        </div>
        <div class="flex flex-wrap w-full mb-3">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <%= f.label :latitude,
                  class: "label--default" %>

            <%= f.text_field :latitude,
                  class: "input--default cursor-not-allowed",
                  readonly: true,
                  "data-location-target": "latitude" %>
          </div>
          <div class="w-full md:w-1/2 px-3">
            <%= f.label :longitude,
                  class: "label--default" %>

            <%= f.text_field :longitude,
                  class: "input--default cursor-not-allowed",
                  readonly: true,
                  "data-location-target": "longitude" %>
          </div>
        </div>
      </div>

      <!-- Opening Times -->
      <div class="-mx-3 mt-6 mb-6">
        <div class="w-full px-3">
          <%= f.label :opening_times,
                class: "label--default" %>

          <div class="flex flex-row justify-between content-center">

            <div class="py-1 my-1">
              <span class="uppercase tracking-wide text-gray-700 text-xs font-bold">Monday</span>
            </div>

            <div class="flex flex-row justify-center py-1 my-1">
              <select class="select--default">
                <option value="08:00" selected>08:00</option>
                <option value="09:00">09:00</option>
              </select>
              <p> &nbsp; &mdash; &nbsp; </p>
              <select class="select--default">
                <option value="18:00" selected>18:00</option>
                <option value="19:00">19:00</option>
              </select>
            </div>

            <div class="py-1 my-1">
              <input type="checkbox" id="closed" name="closed">
              <label for="closed" class="checkbox-label--default">Closed</label>
            </div>

            <div class="py-1 my-1">
              <input type="checkbox" id="open24" name="open24">
              <label for="open24" class="checkbox-label--default">Open 24h</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit -->
      <div class="flex-auto flex space-x-6 mt-8">
        <%= link_to "Cancel", dashboard_map_path(@map),
              class: "w-1/2 button--secondary" %>

        <%= f.submit "Save",
              class: 'w-1/2 button--main',
              "data-action": "location#validateAddress" %>
      </div>

      <% end %> <!-- Form end -->

    </div>
</div>