<div class="absolute h-1/2 bottom-0 md:w-2/5 md:top-0 md:h-full overflow-y-scroll bg-white
          border-gray-200 border-l-2 border-t-2 border-b-2
            shadow-md rounded md:inset-x-0 z-20 p-6" >
  <h3 class="pb-6 text-center"><span class="underline-red"><%= title %></span></h3>

  <div data-controller="location"
        data-location-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
        data-location-bounds-value="<%= @bounds %>"
        data-location-address-value="<%= @address %>">

    <%= form_with model: [:dashboard, @map, @location], local: true do |f| %>

    <!-- Name -->
    <div class="-mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :name,
              class: "label--default" %>

        <%= f.text_field :name,
              class: "input--default",
              placeholder: "Joe's Candy Store",
              required: true %>

        <p class="input-info">Keep it short & crispy</p>
      </div>
    </div>

    <!-- Description -->
    <div class="-mx-3 mb-6">
      <div class="w-full px-3">
        <%= f.label :description,
              class:"label--default" %>

        <%= f.text_area :description,
              size: "70x3",
              class: "input--default",
              placeholder: "(Optional)" %>

        <p class="input-info">Make it as long and as crazy as you'd like</p>
      </div>
    </div>

    <!-- Geocoded Address -->
    <div class="-mx-3">
      <div class="w-full px-3">
        <%= f.label :address,
              class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <div data-location-target="addressWrapper"></div>
        <p class="text-red-500 mt-1 text-xs italic" data-location-target="addressError"></p>
      </div>
    </div>

    <!-- Toggle lat / long -->
    <div class="-mx-3 hidden" data-location-target="adjustMarkerLink">
      <div class="w-full px-3">
        <a class="text-sm" data-action="location#zoomOnMarker location#showAdjustMarkerBlock">Need to adjust the marker?</a>
      </div>
    </div>

    <!-- Lat / Long  -->
    <div class="-mx-3 mt-6 hidden" data-location-target="adjustMarkerBlock">
      <div class="flex flex-wrap w-full">
        <div class="w-full md:w-1/2 px-3">
          <%= f.label :latitude,
                class: "label--default" %>

          <%= f.text_field :latitude,
                class: "input--default cursor-not-allowed",
                readonly: true,
                "data-location-target": "latitude" %>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <%= f.label :longitude,
                class: "label--default" %>

          <%= f.text_field :longitude,
                class: "input--default cursor-not-allowed",
                readonly: true,
                "data-location-target": "longitude" %>
        </div>
      </div>
      <p class="px-3 input-info">
        Drag the marker to its exact position, directly on the map
      </p>
    </div>

      <!-- Opening Times -->
      <div class="-mx-3 mt-6 mb-6">
        <div class="w-full px-3">
          <%= f.label :opening_times,
                class: "label--default" %>
            <% @opening_times.each do |opening_time| %>
                <%= f.fields_for "opening_times_attributes[]", opening_time do |fot| %>

                  <div data-controller="opening-time">
                    <div class="flex flex-row flex-wrap justify-start items-center mb-4 xl:mb-2">
                      <%= fot.hidden_field :id %>
                      <%= fot.hidden_field :location_id %>
                      <%= fot.hidden_field :day %>

                      <div class="py-1 my-1 mr-6 w-full xl:w-1/5">
                        <span class="uppercase tracking-wide text-gray-700 text-xs font-bold"><%= opening_time.day %></span>
                      </div>
                      
                      <div class="flex flex-row justify-start md:justify-between items-center py-1 mr-4 text-sm"
                           data-opening-time-target="timesBlock">
                        <%= fot.select :opens_at,
                            options_for_select(OpeningTime.time_options, opening_time.opens_at&.strftime("%H:%M")),
                            { include_blank: true },
                            { class: "select--default", "data-opening-time-target": "opensAt" } %>
                        <div> &nbsp; &mdash; &nbsp; </div>
                        <%= fot.select :closes_at,
                            options_for_select(OpeningTime.time_options, opening_time.closes_at&.strftime("%H:%M")),
                            { include_blank: true },
                            { class: "select--default mr-6", "data-opening-time-target": "closesAt" } %>
                      </div>

                      <div class="flex flex-row justify-start md:justify-between items-start py-1 text-sm">
                        <div class="mr-4" data-opening-time-target="closedBlock" >
                          <%= fot.check_box :closed,
                              { checked: opening_time.closed,
                                include_hidden: false,
                                "data-opening-time-target": "closed" } %>
                          <%= fot.label "Closed", class: "checkbox-label--default" %>
                        </div>

                        <div class="" data-opening-time-target="open24hBlock" >
                          <%= fot.check_box :open_24h,
                              { checked: opening_time.open_24h,
                                include_hidden: false,
                                "data-opening-time-target": "open24h" } %>
                          <%= fot.label "Open 24h", class: "checkbox-label--default" %>
                        </div>
                      </div>
                  </div>
                </div>

              <% end %>
          <% end %>
        </div>
      </div>

    <!-- Submit -->
    <div class="flex-auto flex space-x-6 mt-8">
      <%= link_to "Cancel", dashboard_map_path(@map),
            class: "w-1/2 button--secondary" %>

      <%= f.submit "Save",
            class: "w-1/2 button--main",
            "data-action": "location#validateAddress" %>
    </div>

    <% end %> <!-- Form end -->

  </div>
</div>