<div class="absolute w-full md:w-96 overflow-y-scroll bg-white shadow-md rounded md:inset-x-0 bottom-0 md:top-0 h-1/2 md:h-auto z-20 p-6">
  <h1 class="text-xl pb-6 text-center"><%= title %></h1>

    <div data-controller="location"
         data-location-mapbox-access-token-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
         data-location-bounds-value="<%= @bounds %>" >

      <%= form_with model: [:dashboard, @map, @location], local: true do |f| %>

      <!-- Name -->
      <div class="-mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :name,
                class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_field :name,
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                placeholder: "Yeti Store",
                required: true %>

          <p class="text-gray-600 text-xs italic">Keep it short & crispy</p>
        </div>
      </div>

      <!-- Description -->
      <div class="-mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :description,
                class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_area :description,
                size: "70x3",
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                placeholder: "(Optional)" %>

          <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
        </div>
      </div>

      <!-- Geocoded Address -->
      <div class="-mx-3 mb-6">
        <div class="w-full px-3 mb-6 md:mb-0">
          <%= f.label :full_address,
                class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <div data-location-target="geocoder" class='display-flex'></div>
          <pre data-location-target="result"></pre>
        </div>
      </div>

      <!-- Address -->
<!--       <div class="-mx-3 mb-6">
        <div class="w-full px-3 mb-6 md:mb-0">
          <%= f.label :address,
                class:"block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_field :address,
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                autocomplete: "street-address",
                required: true,
                "data-location-target": "address",
                "data-action": "keyup->location#searchByAddress" %>
        </div>
      </div> -->

      <!-- <div class="flex flex-wrap -mx-3 mb-6"> -->
        <!-- Zip code  -->
<!--         <div class="w-full md:w-1/2 px-3">

          <%= f.label :zip_code,
                class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_field :zip_code,
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                required: true,
                autocomplete: "postal-code",
                "data-location-target": "zipCode",
                "data-action": "keyup->location#searchByAddress" %>
        </div> -->

        <!-- City -->
<!--         <div class="w-full md:w-1/2 px-3">
          <%= f.label :city,
                class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_field :city,
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                required: true,
                autocomplete: "address-level2",
                "data-location-target": "city",
                "data-action": "keyup->location#searchByAddress" %>
        </div>
      </div> -->

      <!-- Country -->
<!--       <div class="-mx-3">
        <div class="w-full px-3 mb-6">
          <%= f.label :country,
                class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

          <%= f.text_field :country,
                class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500",
                required: true,
                autocomplete: "country",
                "data-location-target": "country",
                "data-action": "keyup->location#searchByAddress" %>
        </div>
      </div> -->

      <!-- Toggle lat / long -->
      <div class="-mx-3 hidden" data-location-target="adjustMarkerLink">
        <div class="w-full px-3">
          <a class="cursor-pointer underline" data-action="location#zoomOnMarker location#showAdjustMarkerBlock">Need to adjust the marker?</a>
        </div>
      </div>

      <!-- Lat / Long  -->
      <div class="-mx-3 mt-6 hidden" data-location-target="adjustMarkerBlock">
        <div class="w-full px-3 mb-3">
          <p class="text-gray-700 text-sm font-bold text-mapzy-violet mb-2">
            Drag the marker directly on the map to its exact position 👉
          </p>
        </div>
        <div class="flex flex-wrap w-full mb-3">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <%= f.label :latitude,
                  class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

            <%= f.text_field :latitude,
                  class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-not-allowed",
                  disabled: true,
                  "data-location-target": "latitude" %>
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6">
            <%= f.label :longitude,
                  class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>

            <%= f.text_field :longitude,
                  class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 cursor-not-allowed",
                  disabled: true,
                  "data-location-target": "longitude" %>
          </div>
        </div>
      </div>

      <!-- Opening Times -->
      <!-- TODO -->

      <!-- Submit -->
      <div class="flex-auto flex space-x-6 mt-6">
        <%= link_to "Cancel", dashboard_map_path(@map),
              class: "w-1/2 button--secondary" %>

        <%= f.submit "Save", class: 'w-1/2 button--main' %>
      </div>

      <% end %> <!-- Form end -->

    </div>
</div>