<!DOCTYPE html>
<html>
  <head>
    <title>Mapzy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= yield :head %>

    


    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    
  </head>

  <body>
    <!-- Flash messages -->
    <%= render "shared/flash_messages" %>

    <%= yield %>
  </body>
</html>
