<!DOCTYPE html>
<html>
  <head>
    <title>Mapzy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  "application",  media: "all",  "data-turbolinks-track": "reload"  %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <%= favicon_link_tag %>
    <%= yield :head %>
  </head>

  <body>
    <!-- Flash messages -->
    <%= render "shared/flash_messages" %>

    <%= yield %>
  </body>
</html>
