<!DOCTYPE html>
<html>
  <head>
    <title>Mapzy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
    <% end %>

    <%= yield %>
  </body>
</html>
